
.editor{
	background-image: url(../images/editor.png);
	width:16px;
	height:16px;
}

.bold{
	background-position: 4px 1px;
}
.italic{
	background-position: -27px 1px;
}
.italic{
	background-position: -28px 1px;
}
.underline{
	background-position: -60px 1px;
}


.fontname{
	background-position: -95px 1px;
}
.fontsize{
	background-position: -128px 1px;
}
.forecolor{
	background-position: -159px 1px;
}
.hilitecolor{
	background-position: -190px 1px;
}
.align{
	background-position: -223px 1px;
}
.justifyleft{
	background-position: -350px 1px;
}
.justifycenter{
	background-position: -382px 1px;
}
.justifyright{
	background-position: -414px 1px;
}
.insertorderedlist{
	background-position: -446px 1px;
}
.insertunorderedlist{
	background-position: -477px 1px;
}
.indent{
	background-position: -513px 1px;
}
.outdent{
	background-position: -545px 1px;
}
.plug-order{
	background-position: -255px 1px;
}
.plug-indent{
	background-position: -287px 1px;
}
.link{
	background-position: -319px 1px;
}
